

.mensagem {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  color: white;
  font-size: 14px;
}

.enviada {
  align-self: flex-end;
  background-color: #0084ff;
}

.recebida {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}